.header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    width:auto;
}
.link{
    float: left;
    color:whitesmoke;
    margin:auto;
    font-size: larger;
    font-weight: bolder;
    text-decoration-line: none;
}
.heading{
    float: left;
    padding-left: 35px;
}